* {
  margin: 0;
  padding: 0;
}

.titulo {
  background-color: #003828e5;
  color: white;
  padding: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
}

#pacientes {
  font-size: 18px;
  text-align: right;
  margin-top: -30px;
}

#pacientes a {
  color: white;
  text-decoration: none;
}

#pacientes a:visited {
  color: white;
}

#pacientes a:hover {
  color: #ccc;
}

#pacientes a:active {
  color: #aaa;
}

#pacientes a {
  margin-right: 20px;
}

.lista {
  margin-top: 150px;
  background-color: #003828e5;
  color: white;
  text-align: left;
  border-radius: 64px 63px 39px 39px;
  -webkit-border-radius: 64px 63px 39px 39px;
  -moz-border-radius: 64px 63px 39px 39px;
  font-family: Arial, sans-serif;
  margin-left: 40px;
  margin-right: 40px;
}

#pruebas {
  padding: 10px;
  padding-bottom: 50px;
}

#pruebas{
  display: flex; 
  justify-content: space-evenly;
  
}


#tituloConsultas {
  text-align: center;
  margin-bottom: 199px;
  margin-top: 0px;
}
