body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f9fc;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #6063FF;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 40px;
}

nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  color: var(--encabezado);
  font-weight: bold;
}

.logo i {
  color: var(--acento);
  margin-right: 8px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--texto);
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--acento);
}

h1 {
  color: #6063FF;
  text-align: center;
  margin-bottom: 2rem;
}

table {
  width: 90%;
  max-width: 800px;
  border-collapse: collapse;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

th, td {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

th {
  background-color: #eaf7f6;
  color: #B3A7FF;
}

tr:hover {
  background-color: #f9f9f9;
}

button {
  background-color: #6063FF;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #B3A7FF;
}

input, select {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.6rem;
  font-size: 1rem;
}

form {
  margin-top: 2rem;
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
