body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f9fc;
  color: #333;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #FF9F43;
  text-align: center;
  margin-bottom: 2rem;
}

form {
  background: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: #FF9F43;
}

input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
}

input:focus {
  border-color: #FF9F43;
  box-shadow: 0 0 4px rgba(32, 178, 170, 0.4);
}

button {
  margin-top: 1.2rem;
  background-color: #FF9F43;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFC97E;
}

h2 {
  color: #FF9F43;
  margin-top: 2rem;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
